<div id="release-notes-display">
  <p>
  <strong><%= t('release_notes.title_plural') %></strong>
  </p>
  <% if release_note.text %>
    <div class="wiki">
    <p><%= h(release_note.text).gsub(/(\r\n|\r|\n)/, "<br>").html_safe %></p>
    </div>
  <% end %>
</div>

<%= form_for(release_note,
             :remote => true,
             :html => {:id => 'release-notes-form', :style => 'display: none;'}) do |f| %>
  <strong><%= t('release_notes.title_plural') %></strong>
  <div style='margin: 10px 10px 0px 10px;'>
    <%= error_messages_for release_note %>
    <%= f.text_area 'text', :rows => 5,
      :class => 'wiki-edit',
      :no_label => true %>
      <br />
      <%= f.submit t(:button_submit), :onclick => "$('#release_notes>.flash.error').remove(); return true;" %>
      <%= link_to_function t(:button_cancel), 'toggle_release_notes()' %>
  </div>
<% end %>
