<% relnotes = issue.release_note %>

<script>
  function toggle_release_notes() {
    $.each(['#release-notes-display', '#release-notes-form'],
           function(_, selector) {
             $(selector).toggle()
           })
  }
</script>

<hr />

<div class="contextual">
  <%= link_to_function l(:button_edit), 'toggle_release_notes()' %>
</div>

<p><strong><%= t('release_notes.title_plural') %></strong></p>
<div id="release-notes" style="margin: 0px 10px">
  <div id="release-notes-display">
    <% if relnotes.text %>
      <p><%= h(relnotes.text).gsub(/(\r\n|\r|\n)/, "<br>").html_safe %></p>
    <% end %>
  </div>

  <%= form_for(relnotes,
               :as => :release_note, :remote => true,
               :url => release_notes_path(@issue),
               :method => :post,
               :html => {:id => 'release-notes-form', :style => 'display: none;'}) do |f| %>
    <strong>
      <%= f.label 'status', t('release_notes.status.label') %>
    </strong>
    <%= f.select 'status', release_notes_status_options_for_select %>
    <br />
    <%= f.text_area 'text', :rows => 5,
                            :class => 'wiki-edit',
                            :no_label => true %>
    <br />
    <%= f.submit t(:button_submit) %>
    <%= link_to_function t(:button_cancel), 'toggle_release_notes()' %>
  <% end %>
</div>
