<% relnotes = issue.release_note %>

<hr />

<div class="contextual">
  <% if relnotes %>
    <%= link_to l(:button_edit), edit_release_note_path(relnotes) %> | 
    <%= link_to l(:button_delete), relnotes,
      :confirm => l(:release_notes_destroy_confirmation),
      :method => :delete %>
  <% else %>
    <%= link_to l(:button_add),
      new_release_note_path(:issue_id => @issue.id) %>
  <% end %>
</div>

<p><strong><%= l(:Release_notes) %></strong></p>
<% if relnotes %>
  <p id="release_notes"><%= html_escape(relnotes.text).gsub(/\r\n/, "<br>").html_safe %></p>
<% end %>
