<% if @project.module_enabled? :release_notes %>
<% c = CustomField.find_by_name(ReleaseNotesHelper::CONFIG['issue_required_field']) %>
<% if issue.tracker.custom_fields.include?(c) %>

<% @relnotes = issue.release_note %>

<hr />

<div class="contextual">
  <% if @relnotes %>
    <%= link_to l(:button_edit), {:controller => 'release_notes', :action => 'edit', :id => @relnotes.id} %> |
    <%= link_to l(:button_delete), {:controller => 'release_notes', :action => 'destroy', :id => @relnotes.id.to_s}, :confirm => l(:release_notes_destroy_confirmation), :method => :delete %>
  <% else %>
    <%= link_to l(:button_add), {:controller => 'release_notes', :action => 'new', :issue_id => issue.id} %>
  <% end %>
</div>

<p><strong><%= l(:Release_notes) %></strong></p>
<% if @relnotes %>
<p><%= @relnotes.text.gsub(/\r\n/, "<br />") %></p>
<% end %>

<% end %>
<% end %>
