<div id='release_note_dashboard'>

<p><%= version.description %></p>
<% if version.completed? %>
  <p><%= format_date(version.effective_date) %></p>
<% elsif version.effective_date %>
  <p>
    <strong><%= due_date_distance_in_words(version.effective_date) %></strong>
    (<%= format_date(version.effective_date) %>)
  </p>
<% end %>

<% stats = version.release_notes_stats %>
<% cf_none_value =  Setting.plugin_redmine_release_notes[:field_value_not_required] %>
<% cf_name = CustomField.find_by_id(Setting.plugin_redmine_release_notes[:issue_custom_field_id]).name %> 

<% # Overview %>

<hr>

<% if  stats[:total] == 0 %>
  <p><em><%= l(:label_roadmap_no_issues) %></em></p>

<% elsif stats[:required] == 0 %>
  <p><em><%= l('release_notes.no_issues_for_this_version') %></em></p>

<% else %>
  <p><em><%= l('release_notes.progress') %></em></p>
  <p class="progress-info">
  <%=  progress_bar([stats[:completion], stats[:completion]],:width => '40em',:legend => '%0.0f%' % stats[:completion])  %>
  </p>

  <table class="list related-issues" >
    <% #Release Notes Required %>
    <tr> 
      <td colspan=2 ><strong> <%= t('release_notes.x_requiring_release_notes', :count => stats[:required]) %> </strong></td> 
      <td><strong>
         <% if stats[:done] > 0 && stats[:todo] == 0 %>
             <%= t('release_notes.all_done') %>
         <% elsif stats[:done] > 0 %>
             <%= t('release_notes.percent_done', :count => stats[:completion] ) %>
         <% else %>
             <%= t('release_notes.not_started') %>
         <% end %></strong>
    </tr>
    <%# > Done %> 
    <tr>
      <td> &nbsp </td>
      <td>
        <% if stats[:done] < stats[:required] %>
	<strong> <%= t('release_notes.x_done', :count => stats[:done]) %> </strong>
	<% else %>
	<strong> <%= t('release_notes.all_done') %> </strong>
	<% end %>
        <% # > Any one blank? %> 
        <% if (stats[:done_empty] > 0)  %>
         <span class="error-text"><em><%= " (#{t('release_notes.x_done_empty', :count => stats[:done_empty])}) " %></em></span> 
        <% end %>
      </td>
      <td> 
	<% version.fixed_issues.release_notes_done.each do |issue|  %>
	<%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
        <% end %>
      </td>
    </tr>
    <% # > Todo %>
    <% if stats[:todo] > 0 %>
    <tr>
      <td> &nbsp </td>
      <td><strong> <%= t('release_notes.x_to_go', :count =>stats[:todo]) %> </strong></td> 
      <td> 
	<% version.fixed_issues.release_notes_todo.each do |issue|  %>
	<%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
        <% end %>
      </td>
    </tr>
    <% end %> 
    <% #Release Notes Not Required %>
    <tr>
     <td colspan=3 ><strong> <%= t('release_notes.x_not_required', :count => stats[:not_required]) %> </strong></td> 
    </tr>
    <tr>
      <td> &nbsp </td>
      <td><strong> <%= t('release_notes.x_not_required_cf_none', :count => stats[:none], :cf_name => cf_name) %> </strong></td> 
      <td> 
	<% version.fixed_issues.release_notes_none.each do |issue|  %>
	<%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td> &nbsp </td>
      <td><strong> <%= t('release_notes.x_not_required_cf_not_defined', :count => stats[:no_cf] ) %> </strong></td> 
      <td> 
	<% version.fixed_issues.release_notes_no_cf_defined.each do |issue|  %>
	<%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
        <% end %>
      </td>
    <% #Release Notes Invalid %>
    <% if (stats[:invalid] > 0)  %>
    <tr> 
      <td colspan=2 class="error-text">
	 <strong> <%= t('release_notes.x_invalid', :count => stats[:invalid], :cf_name => cf_name)  %></strong>
         <% if(stats[:invalid] == stats[:nil]) %>
	   <em><%= "( #{t('release_notes.x_invalid_nil_all')} )" %></em>
	 <% else %>
	   <em><%= " (#{t('release_notes.x_invalid_nil', :count => stats[:nil])})" %></em>
	 <% end %>
      </td> 
      <td> 
	<% version.fixed_issues.release_notes_invalid.each do |issue|  %>
	<%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
        <% end %>
      </td>
    <% end %>
    </tr>
    <tr>
      <td colspan=3 ><strong> <%= t('release_notes.x_issues_in_total', :count => stats[:total]) %> </strong></td> 
     </td>
    </tr>
  </table>

  <p>
  <%= link_to t('release_notes.generate'), generate_release_notes_path(version) %>
  </p>

<% end %>
</div>
