<% if version.completed? %>
  <p><%= format_date(version.effective_date) %></p>
<% elsif version.effective_date %>
  <p><strong><%= due_date_distance_in_words(version.effective_date) %></strong> (<%= format_date(version.effective_date) %>)</p>
<% end %>

<p><%=h version.description %></p>
<% if version.issues_count > 0 %>
  <%= release_notes_progress_bar(version) %>
  <p class="progress-info">
  <%= release_notes_overview_link(
    t(:label_x_issues, :count => version.issues_count),
    version, @project) %>

  <% count_required = version.fixed_issues.release_notes_required.count %>
  (<%= release_notes_overview_link_if(
    count_required > 0,
    t('release_notes.x_requiring_release_notes', :count => count_required),
      version, @project) %>
  &#8212;

  <% count_done = version.fixed_issues.release_notes_done.count %>
  <% count_todo = version.fixed_issues.release_notes_todo.count %>

  <% if count_done > 0 && count_todo == 0 %>
    <%= t('release_notes.all_done') %>)
  <% elsif count_done > 0 %>
    <%= release_notes_overview_link(
      t('release_notes.x_done', :count => count_done),
      version, @project) %>
    &#8212;
    <%= release_notes_overview_link(
      t('release_notes.x_to_go', :count => count_todo),
      version, @project) %>)
  <% else %>
    <%= t('release_notes.not_started') %>)
  <% end %>
  </p>

  <p>
  <%= link_to t('release_notes.generate'),
    generate_release_notes_path(version) %>
  <% unless version.hide_from_release_notes %>
    &#8212;
    <%= link_to t('release_notes.hide_version'),
      hide_version_from_release_notes_path(version),
      :method => :post %>
  <% end %>
  </p>
<% else %>
  <p><em><%= l(:label_roadmap_no_issues) %></em></p>
<% end %>
