<% title_str = "#{l(:button_edit)} #{l(:release_note_plural).downcase}" %>
<% html_title title_str %>
<h2><%= title_str %></h2>

<p><%= l(:edit_release_notes) %> <%= link_to_issue @issue %></p>
<% if @issue.description and !@issue.description.empty? %>
  <h4><%= l(:field_description) %></h4>
  <p><%= @issue.description %></p>
<% end %>

<h4><%= l(:release_note_plural) %></h4>
<% form_for @release_note do |f| %>
  <%= f.text_area :text, :size => "100x12" %><br />
  <%= f.hidden_field :issue_id, :value => @issue.id %>
  <%= check_box_tag :mark_complete, 1, false %>
  <%= label(:mark, :complete, l(:mark_release_notes_complete)) %><br />
  <%= f.submit %>
<% end %>

<%= button_to(l(:button_cancel), {:controller => "issues", :action => "show", :id => @issue.id}, :method => :get) %>
