<% html_title "Generated release notes" %>

<div style="width:100%;">
<%= "<h2>Release notes for version #{@version.name}</h2>" %>
<%= button_to "Mark this version as generated", :action => 'mark_version_as_generated', :id => @version.id %>

<% str_generated = generate_release_notes(@version.id) %>
<textarea style="width:99.5%; resize:none;" rows="<%= str_generated.count("\n") + 9 %>">
<%= generate_release_notes_header(@version.id) %>
<%= str_generated %>
</textarea>
</div>
