<% html_title l('release_notes.generate_title', :version => @version.name) %>

<%= render :partial => 'warnings',
  :locals => { :version => @version, :project => @project } %>

<div style="width:100%;">
<h2><%= l('release_notes.generate_title', :version => @version.name) %></h2>
<p>
<%= link_to l('release_notes.raw'), :raw => "true",
  :release_notes_format => params[:release_notes_format] %> | 
<%= link_to l('release_notes.download'), :download => "true",
  :release_notes_format => params[:release_notes_format] %>
</p>

<%= render_other_formats(@formats) %>

<%= render :partial => 'generated_release_notes' %>
