<% html_title l('release_notes.generate_title', :version => @version.name) %>

<% if @version.fixed_issues.release_notes_todo.any? %>
  <% count = @version.fixed_issues.release_notes_todo.count %>
  <div class='flash warning'>
    <%= t((count == 1 ? 'one' : 'other'),
      :count => count,
      :scope => 'release_notes.some_issues_not_finished') %>
    (<%= release_notes_overview_link(
      t('button_show'), @version, @project, :release_notes => 'todo') %>)
  </div>
<% end %>

<div style="width:100%;">
<h2><%= l('release_notes.generate_title', :version => @version.name) %></h2>
<p>
<%= link_to l('release_notes.raw'), :raw => "true",
  :release_notes_format => params[:release_notes_format] %> | 
<%= link_to l('release_notes.download'), :download => "true",
  :release_notes_format => params[:release_notes_format] %>
</p>

<%= render_other_formats(@formats) %>

<%= render :partial => 'generated_release_notes' %>
