<h2><%= t('release_notes.title_plural') %></h2>

<% if @versions.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div id="roadmap">
<% @versions.each do |version| %>
  <h3 class="version"><%= link_to_version version %></h3>
  <%= render :partial => 'release_notes/overview', :locals => {:version => version} %>
<% end %>
</div>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag({}, :method => :get) do %>
    <h3><%= t('release_notes.title_plural') %></h3>

    <label for="closed">
      <%= check_box_tag "closed", 1, params[:closed] %>
      <%= t('release_notes.show_closed_versions') %>
    </label>

    <% if @project.descendants.active.any? %>
      <br />
      <label for="with_subprojects">
        <%= check_box_tag 'with_subprojects', 1, @with_subprojects %>
        <%= l(:label_subproject_plural) %>
      </label>
    <% else %>
      <%= hidden_field_tag 'with_subprojects', 0 %>
    <% end %>

    <%= hidden_field_tag 'project_id', @project.identifier %>
    <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
    <% end %>

    <h3><%= l(:label_version_plural) %></h3>
    <% @versions.each do |version| %>
    <%= link_to format_version_name(version), "##{version.name}" %><br />
  <% end %>
<% end %>

<% html_title t('release_notes.title_plural') %>
